<div [classList]="
    onShowItem() ?
    'mx-auto flex flex-col md:flex-row  px-0 justify-between md:w-full overflow-auto  h-full ':
    'mx-auto flex flex-col md:flex-row  px-0 justify-between md:w-full overflow-hidden  h-full '
  ">
  <div [classList]="
  onShowItem() ?
  ' flex-col px-4  sm:px-8 overflow-auto scrollbar-thumb-rounded scrollbar-track-rounded grow  scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted py-0 md:py-4':
  ' flex-col px-4  sm:px-8 overflow-auto scrollbar-thumb-rounded scrollbar-track-rounded grow  scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted py-4'
  ">
    <app-user-list-table (onUserSelected)="onItemSelected($event)" ></app-user-list-table>
  </div>
  <ng-template #dcWrapper dcWrapper></ng-template>
</div>
