<div class="mb-4 flex justify-between">
  <div class="inline-block">
    <h3 class="font-semibold text-foreground">Servicios - Listado</h3>
    <div class="text-muted-foreground space-x-1 text-xs font-medium">
      <a href="" class="hover:text-primary">Total servicios:</a>
      <span class="text-foreground">{{total()}}</span>
    </div>
  </div>

  <div class="inline-block space-x-4">
    <button (click)="onAddToggle()"
      class="flex-none rounded-md bg-primary  px-4 py-2.5  text-xs font-medium text-primary-foreground ">
      Agregar Servicio
    </button>

  </div>

</div>
