<div class="flex  flex-col gap-5 w-full ">

  <div class="flex flex-col md:flex-row bg-background justify-between items-center ">
    <ol
      class="flex items-center w-full p-3 space-x-2 text-sm font-medium text-center    rounded-lg shadow-sm  sm:text-base  sm:p-4 sm:space-x-4 rtl:space-x-reverse">
        <li *ngFor="let form of forms; let i = index"

          [ngClass]="
            i == actualFormIndex
              ? ' text-primary '
              : i < actualFormIndex ? 'text-primary hidden md:flex' : 'text-muted-foreground hidden md:flex'
          "

          class="flex items-center  font-bold h-10 sm:w-full md:w-fit ">
          <span
            [classList]="
              i <= actualFormIndex
                ? 'flex items-center justify-center w-5 h-5 me-2 text-xs border border-primary rounded-full shrink-0 '
                : 'flex items-center justify-center w-5 h-5 me-2 text-xs border border-foreground  rounded-full shrink-0'"
            >
            {{i +1}}
          </span>
          {{form.data.title}}
          <svg  *ngIf="i + 1 <= (forms.length - 1)" class="w-3 h-3 ms-2 sm:ms-4 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="none" viewBox="0 0 12 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m7 9 4-4-4-4M1 9l4-4-4-4" />
          </svg>
        </li>


    </ol>
  </div>

  <div class="flex flex-col gap-2 bg-background">
      <ng-template dcWrapper></ng-template>

  </div>




</div>
