<div class="flex flex-row gap-2 flex-wrap p-2">
  <div
    *ngFor="let tag of tags;let i = index"
  class="flex p-2 border rounded-md "  >
    <span class="text-muted-foreground">{{tag.name}}</span>
    <button (click)="onRemove(i)" class="ml-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4 text-muted-foreground"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>


  </div>


</div>
