<div class="mb-4 flex justify-between">
  <div class="inline-block">
    <h3 class="font-semibold text-foreground">Lista de Tfg</h3>

  </div>

  <div class="inline-block space-x-4">
    <button (click)="onAddToggle()"
      class="flex-none  bg-primary  px-4 py-2.5  text-xs font-medium text-primary-foreground ">
      Agregar Trabajo Final de Grado
    </button>
    <button
      (click)="onGenerateReport()"
      class="flex-none  bg-green-800  px-4 py-2.5  text-xs font-medium text-primary-foreground ">
      Generar Reporte
    </button>

  </div>

</div>
