<div class="flex flex-row gap-2 flex-wrap" >
  @for (item of listTfgStudent(); track $index) {
    <div class="card border border-primary p-6 rounded-lg w-80 shadow-lg bg-card hover:shadow-xl transition-shadow duration-300">
      <h3 class="text-primary font-bold text-xl mb-4 border-b border-primary pb-2">{{ item.title }}</h3>
      <div class="text-sm space-y-2">
        <p class="text-foreground"><strong class="">ID:</strong> {{ item.tfg_id }}</p>
        <p class="text-foreground"><strong class="text-foreground">Date:</strong> {{ item.date }}</p>
        <p class="text-foreground"><strong class="text-foreground">State:</strong>
          <span class="px-2 py-1 rounded-full text-white"
                [ngClass]="{
                  'bg-green-500': item.state === 'Approved',
                  'bg-yellow-500': item.state === 'Pending',
                  'bg-red-500': item.state === 'Rejected',
                  'bg-gray-500' : item.state === 'In Review'
                }">
            {{ item.state }}
          </span>
        </p>
        <p class="text-foreground"><strong class="text-foreground">Tutor:</strong> {{ item.tutor_name }}</p>
        <p class="text-foreground"><strong class="text-foreground">Department:</strong> {{ item.tutor_department }}</p>
      </div>
    </div>
  }
</div>
