<form [formGroup]="tfgForm" (ngSubmit)="onSubmit()"
  class="flex w-screen md:w-[600px] bg-background h-full overflow-auto gap-2 px-3 flex-col scrollbar-thumb-rounded scrollbar-track-rounded grow scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted">
  <div class="sticky top-0 flex flex-col bg-background">
    <div class="flex relative flex-row items-center gap-2 py-3 justify-start">
      <span class="text-lg text-foreground">{{ 'Detalles del Trabajo Final de Grado' }}</span>

      <button (click)="close()"
        class="absolute cursor-pointer right-0 inline-flex w-fit justify-center rounded-md bg-background px-3 py-2 text-sm font-semibold text-foreground shadow-sm ring-1 ring-inset ring-foreground hover:bg-card sm:mt-0 sm:w-fit">
        X
      </button>
    </div>
    <hr class="border-dashed border-border">
  </div>

  <div class="flex py-2 flex-col">
    <div class="px-2 flex-col flex gap-2">
      <span class="text-xs text-muted-foreground">Título</span>
      <input type="text" formControlName="title" placeholder="Título del TFG">
    </div>
  </div>

  <hr class="border-dashed border-border">
  <div class="flex py-2 flex-col">
    <div class="px-2 flex-col flex gap-2">
      <span class="text-xs text-muted-foreground">Modalidad</span>
      <app-select [items]="modes" type="text" formControlName="mode_id" placeholder="Modalidad" />
    </div>
  </div>

  <hr class="border-dashed border-border">
  <div class="flex py-2 flex-col">
    <div class="px-2 flex-col flex gap-2">
      <span class="text-xs text-muted-foreground">Estudiante</span>
      <app-select [items]="students" type="text" formControlName="student_id" placeholder="Nombre del Estudiante" />
    </div>
  </div>

  <hr class="border-dashed border-border">
  <div class="flex py-2 flex-col">
    <div class="px-2 flex-col flex gap-2">
      <span class="text-xs text-muted-foreground">Tutor</span>
      <app-select [items]="tutors" type="text" formControlName="tutor_id" placeholder="Nombre del Tutor" />
    </div>
  </div>

  <hr class="border-dashed border-border">
  <div class="flex py-2 flex-col">
    <div class="px-2 flex-col flex gap-2">
      <span class="text-xs text-muted-foreground">Status</span>
      <app-select [items]="states" type="text" formControlName="state_id" placeholder="Nombre del Tutor" />
    </div>
  </div>


  <div class="flex py-2 flex-col gap-2">
    <button type="submit" (click)="onSubmit()" class="bg-primary text-white rounded-md p-2">
      Guardar Cambios
    </button>
  </div>
</form>
