<div class="flex h-screen w-screen">
  <div class="auth-bg bg-primary hidden flex-1 items-center justify-center bg-cover lg:flex">
    <div class="max-w-2xl space-y-4 p-8 text-center text-white">
      <h1 class="text-4xl font-bold">"TRABAJOS FINAL DE GRADO"</h1>
    </div>
  </div>
  <div class="bg-background flex flex-1 items-center justify-center">
    <div class="max-w-md overflow-y-auto px-4 sm:w-[500px]">
      <!-- logo -->
      <div class="flex items-center justify-center">
        <b class="text-md text-foreground pl-3 font-bold"> TFG </b>
      </div>
      <!-- Route -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
